
*,
*::before, *::after,
*:before, *:after {
    box-sizing: border-box;
}
body {margin:0.5rem;
    padding: 0px;
    font-family:'Open Sans', sans-serif;
}
.container {
    width: 90%;
    max-width: 1080px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
}
.container1 {
    background-color: rgba(0, 0, 0, .2);
    
}
.container_tabla {
    background-color: hsl(192, 55%, 50%);
    border: 1px, solid;
    border-radius: 20px;
    padding-bottom: 2rem;
    padding-top: 0.6rem;
}
h1.h1 {text-align: center;
    font-family:'Lobster', cursive;
    font-size: 5rem;
    display: block;
    margin-top: 1.5rem;

}
nav {
    height: 5rem;
    width: 100%;

}
ul.menu0 {
    height: 5rem;
    width: 100%;
    display: table;
    background-color: rgb(0, 204, 255);
    padding: 0rem;
    
    

}
ul.menu0 li {
    
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
   
}

ul.menu0 li a{ color: #cc6600}

.p1 {
    font-size: 2rem;
    padding: 1rem;   
}

.p2 {
    font-size: 1.5rem; 
    padding: 1rem;  
}
.figure_1 {
    margin: 0;
    width: 100%;
    
}

.img1 {width: 100%;
        display: block;
        margin: auto;
}
.div1 {
    margin: 0;
    padding: 0;
    width: 100%;
}


.em1 {Color: brown;}


.figure_2 {
    
    margin: 0;
    width: 50%;
    float: left;
    
}

.img2 {
    margin-top: 1%;
    width: 100%;       
}
.p3 {
   
    font-size: 2rem;
    text-align: center;
    float: left;
    /* position: absolute;
    right: 5%;
    top: 20%;*/
    width: 50%;
}

aside {
    margin-top: 40%;
}
.p4 {
    clear: both;
    font-size: 2.18rem;
    line-height: 3rem;
    color: brown;
    border: 1px solid black;
    padding: 2.5rem;
    border-radius: 2rem;
    }

cite {
    font-size: 1.5rem;
    color: grey;
    display: block;
    margin-top: 2rem;
    text-align: right;
}

.p5 {
    
    font-size: 2.2rem;
    text-align: center;

}
a:link {
    text-decoration: none;
  
    
}
a:hover {
    color:blue;
}
.brown {color:brown;}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

h2.tabla_info {
    color: red;
    text-align: center;
}
table, table tr td, table tr th {
    border: 1px solid;
   
}
figure.video {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
video {
    width: 100%
}
.footer {
   padding: 5rem;
   background-color: black;
   border-radius: 0px 0px 20px 20px; 
}
.footer small {
    color: white;
}




