
body {margin:0.5rem;
    padding: 0px;
    font-family:'Open Sans', sans-serif;
}
.container {
    width: 90%;
    max-width: 1080px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
h1.h1 {text-align: center;
    font-family:'Lobster', cursive;
    font-size: 5rem;
    display: block;
    margin-top: 1.5rem;

}
nav {
    height: 5rem;
    width: 100%;

}
ul.menu0 {
    height: 5rem;
    width: 100%;
    display: table;
    background-color: rgb(0, 204, 255);
    padding: 0rem;
    
    

}
ul.menu0 li {
    
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
   
}


@media screen and (max-width: 900px) {
    ul.menu0 li {font-size: 1rem;}
}
ul.menu0 li a{ color: #cc6600}

.p1 {
    font-size: 2rem;
   
    }

.p2 {
        font-size: 1.5rem;
    
        }

.img1 {width: 100%;
        display: block;
        margin: auto;
}
.div1 {
    position: relative;
    width: 100%;
}
.p3 {
   
    font-size: 2rem;
    text-align: center;
    position: absolute;
    right: 5%;
    top: 20%;
    width: 45%;
    
}
@media screen and (max-width: 900px) {
    .p3 {
        font-size: 1.25rem; 
    }
}
@media screen and (max-width: 650px) {
    .p3 {
        font-size: 1rem; 
    }
}
@media screen and (max-width: 450px) {
    .p3 {
        font-size: 0.75rem; 
    }
}
.em1 {Color: brown;}
.img2 {
        margin-top: 1%;
        width: 45%;
       
}

.p4 {
    font-size: 2.18rem;
    line-height: 3rem;
    
    color: brown;
    border: 1px solid black;
    margin-top: 30px;
    padding: 2.5rem;
    border-radius: 2rem;
    }

cite {
    font-size: 1.5rem;
    color: grey;
    display: block;
    margin-top: 2rem;
    text-align: right;
}

.p5 {
    
    font-size: 2.2rem;
    text-align: center;

}
a:link {
    text-decoration: none;
  
    
}
a:hover {
    color:blue;
}
.brown {color:brown;}

h2.tabla_info {
    color: red;
}



